extends layout

block content
  .inner
    h1= title
    #chatWindow
    input(type="hidden" name="channelId" value=chat.id)
    form#messageForm.form(action="POST")
      label.label Your Message
        input.input(name="message" autocomplete="off")
      button.button(type="submit") Send