<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} | Node_exam
    link(rel="stylesheet", href="/dist/style.css")
  body
    block header
      header.header
        .inner
          nav.nav
            ul.nav__list
              li.nav__item: a.nav__link(class=(currentPath === '/' ? 'nav__link--active' : '') href="/") Home
              .nav__spacer(aria-hidden="true")
              if user
                li.nav__item: a.nav__link(class=(currentPath.startsWith('/logout') ? 'nav__link--active' : '') href="/logout") Logout
              else
                li.nav__item: a.nav__link(class=(currentPath.startsWith('/login') ? 'nav__link--active' : '') href="/login") Login
                li.nav__item: a.nav__link(class=(currentPath.startsWith('/register') ? 'nav__link--active' : '') href="/register") Register
              
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block content

    block scripts
      script(src="/dist/app.bundle.js")
      