<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
  body
    block header
      header.header
        nav.nav
          ul.menu__list
            li.menu-item: a(href="/") Home
            if user
              li.menu-item: a(href="/register") Register
              li.menu-item: a(href="/login") Login
            else
              li.menu-item: a(href="/logout") Logout

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    block content