<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="stylesheet", href="/dist/styles.css")
  body
    block header
      header.header
        nav.nav
          ul.nav__list
            li.nav__item: a.nav__link(class=(currentPath.startsWith('') ? 'nav__link--active' : '') href="/") Home
            if user
              li.nav__item: a.nav__link(class=(currentPath.startsWith('/logout') ? 'nav__link--active' : '') href="/logout") Logout
            else
              li.nav__item: a.nav__link(class=(currentPath.startsWith('/login') ? 'nav__link--active' : '') href="/login") Login
              li.nav__item: a.nav__link(class=(currentPath.startsWith('/register') ? 'nav__link--active' : '') href="/register") Register
              
    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block content

    block scripts
      script(src="/dist/App.js")
      