extends layout

block content
  .inner
    h1 Register user

    form(action="/register" method="post")
      label First name
        input(type="text" name="firstName")
      label Last Name
        input(type="text" name="lastName")
      label Email
        input(type="email" name="email")
      label Phone Number
        input(type="text" name="phoneNumber")
      label Password
        input(type="password" name="password")
      button.button(type="submit") Register!