$backgroundColor: #fff;

.chat-list {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;

  &__item {
    display: contents;
  }

  &__user-list {
    padding: 0;
    list-style: none;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1rem);
  }

  &__avatar {
    width: 75px;
    border-radius: 50%;
    border: 5px solid $backgroundColor;
  }
}

.chat-card {
  padding: 1rem;
  background-color: $backgroundColor;
}
