.chat__window {
  padding: 1rem;
  background-color: #fff;
  height: 50vh;
  overflow-y: scroll;
}

.chat__message {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 5px 10px;
  padding: 1rem;
  & + & {
    border-top: 1px solid rgba($darkgrey, 0.1);
  }
}

.chat__meta {
  margin: 0;
}

.chat__name {
  display: block;
  align-self: center;
  font-weight: bold;
  color: $red;

  &--self {
    color: $green;
  }
}

.chat__date-time {
  display: block;
  color: #a0a0a0;
}

.chat__avatar {
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
}

.chat__content {
  grid-column: 2;
  margin-top: 0;
}
