.flash {
  display: flex;
  margin: 1rem 0;
  &--info {
    color: $grey;
  }
  &--success {
    color: $green;
  }
  &--error{
    color: $red;
  }

  &__text {
    flex: 1;
  }

  &__remove {
    cursor: pointer;
    order: -1;
    background: none;
    border: 0;
    font-size: 1rem;
  }
}