html {box-sizing: border-box}
*,*:before,*:after {box-sizing: inherit}

body {
  background: $lightgrey;
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}