mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    label(for="email") Email:
    input(type="email" name="email")
    label(for="password") Password:
    input(type="password" name="password")
    button.button(type="submit") Log In →