mixin loginForm(values = {})
  form.form(action="/login" method="POST")
    h2 Login
    label.label Email:
      input.input(type="email" name="email" value=values.email)
    label.label Password:
      input.input(type="password" name="password")
    button.button(type="submit") Log In →